<%- include("partials/header.ejs") %>
this is a product page

<div>
    <% for (let i=0;i<=10-1;i++){ %>
    <tr>
        <td> <%= product_data[i]["name"] %> </td>
        <td> <%= product_data[i]["color"] %> </td>
        <td> <%= product_data[i]["price"] %> </td>
        <td> <%= product_data[i]["manufacturer"] %> </td>
        <% for (let j=0;j<=Object.keys(manufacturer_all_data[product_data[i]["manufacturer"]]["response"]).length-1;j++){ %>
            <% if (manufacturer_all_data[product_data[i]["manufacturer"]]["response"][j]["id"] === product_data[i]["id"].toUpperCase()) { %>
                <% let s=manufacturer_all_data[product_data[i]["manufacturer"]]["response"][j]["DATAPAYLOAD"] %>
                <td> <%= s.substr(50,s.length-81) %> </td>
            <% } %>
        <% } %>
        <br>
    </tr>
    <% } %>
</div>

<%- include("partials/footer.ejs") %>
